
body {
    font:20px, Arial, sans-serif;
}

.navbar {
    background-color: #03D9B9;
}

.quem-somos {
    background-color: #CCCCFF;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #e67e38;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}